<p id="notice"><%= notice %></p>

<p>
  <b>Organization:</b>
  <%= @person.organization.name %>
</p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Phone number:</b>
  <%= @person.phone_number %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', organization_people_path(@person.organization) %>
