<p id="notice"><%= notice %></p>

<p>
  <b>Phone number:</b>
  <%= @person.phone_number %>
</p>

<p>
  <b>Employee:</b>
  <%= @person.employee_id %>
</p>

<p>
  <b>Organization:</b>
  <%= @person.organization_id %>
</p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
